:root {
  --cell-qty: 5;
  --cell-size: 100px;
  --cell-border: 1px;

  --cell-borders-all: calc(var(--cell-border) * (var(--cell-qty) - 1));

  --cell-size-mobile:  calc((100vmin - var(--cell-borders-all)) / var(--cell-qty));

  --rules-margin: 0.5rem;
}


.board {
  display: grid;
  grid-template-columns: repeat(var(--cell-qty), var(--cell-size));
  grid-template-rows:    repeat(var(--cell-qty), var(--cell-size));
  grid-gap: var(--cell-border);
  box-shadow: 0 0 50px #fff, -10px 0 80px #f0f, 10px 0 80px #0ff;
  border-radius: 1rem;
  overflow: hidden;
}

.rules {
  position: fixed;
  bottom: var(--rules-margin);
}

.rules a:link, a:visited {
  color: white;
}


@media (max-width: 504px), 
       (max-height: 504px){
  :root {
    --cell-size: var(--cell-size-mobile);
  }

  .board {
    overflow: visible;
  }
}

@media (max-height: 504px) {
  .rules {
    left: var(--rules-margin);
  }
}
